<div class="navbar-container">
    <div class="navbar-inner-container">
        <div class="website-logo">
            <p><span class="website-span">NodeJs</span> Auth</p>
        </div>
        <div class="menu-button">
            <i class="fas fa-bars"></i>
        </div>
        <div class="features-container">
            <div class="inner-feature-container">
                <div class="close-button">
                    <i class="fas fa-times"></i>
                </div>
                <div class="features-heading">
                    <i class="fa-solid fa-rocket"></i>
                    <h1>Features</h1>
                </div>
                <ul class="feature-ul">
                    <li>
                        <div class="features-heading">
                            <i class="fa-solid fa-at"></i>
                            <p>Authentication</p>
                        </div>
                        <ul class="sub-feature-ul">
                            <li>Sign In</li>
                            <li>Sign Up</li>
                            <li>Sign Out</li>
                        </ul>
                    </li>
                    <li>
                        <div class="features-heading">
                            <i class="fa-solid fa-share-nodes"></i>
                            <p>Social Authentication</p>
                        </div>
                        <ul class="sub-feature-ul">
                            <li>Google</li>
                            <li>Github</li>
                        </ul>
                    </li>
                    <li>
                        <div class="features-heading">
                            <i class="fa-solid fa-lock"></i>
                            <p>Store encrypted password in database</p>
                        </div>
                    </li>
                    <li>
                        <div class="features-heading">
                            <i class="fa-solid fa-bell"></i>
                            <p>Display notification for action</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>