<div class="navbar-container">
    <div class="navbar-inner-container">
        <div class="website-logo">
            <p><span class="website-span">NodeJs</span> Auth</p>
        </div>
        <div class="menu-button">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</div>