<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <%- include('_navbar'); %>
    <p>welcome</p>
    <a href="/user/sign-out"><button>sign out</button></a>
    <%- include('_footer'); %>
</body>
</html>