<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/1063/1063196.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/_navbar.css">
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    
    <!-- including navbar -->
    <%- include('_navbar'); %>

    <div class="main">
        <div class="heading">
            <h2>Discover your path to a successful career with our Placement Cell Website. Unlock a world of tailored job opportunities.</h2>
            <p>"Join today and embark on your journey towards a brighter future!"</p>
        </div>
        <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script><lottie-player src='https://lottie.host/82e70837-3ad3-458e-aeea-30f78e11bb7c/E1dlP8ff1M.json' background='transparent' speed='1' style='width: 900px; height: 900px' loop autoplay direction='1' mode='normal'></lottie-player>
    </div>
</body>
</html>